body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   


#color-box{
    width: 100px;
    height: 100px;
    border: 5px solid orangered;
    margin: 50px;
    background-color: #007bff;
}

#change-color-btn{
    background-color: #007bff; /* Primary Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px; /* Slightly rounded */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    text-transform: uppercase;
}